*{

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.main{
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    flex-direction: row;
    background: #1f2937;
}
.nav{
    width: 100%;
    display: inline-flex;
}


ul{
    color: #e5e7eb;
    font-size: 15px;
    display: inline-flex;
    list-style-type: none;
    opacity: .6;
    margin-left:50%
}


ul>li{
    padding: 10 4;
    gap: 8px;

}
.header{
    color: #f9faf8;
    font-size: 24px;
    display: inline-flex;
    padding-left: 40px;
    padding-top: 10px;
    
}


.hero, h3{ 
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 25px;
}

.hero>h1{
    font-size: 30px;
    font-style: bold;
    color: #f9faf8;
    width: 240px;
    overflow: visible;
}

.hero>p{
    size: 18px;
    color: #e5e7eb;
    width: 350px;
    opacity: .6;

}

.hero-wrapper{
    width: 40%;
    display: flex;
    flex-direction: column;
   align-content: flex-end;
   height: 400px;
   margin: auto;
   margin-bottom: 40px;

}



.hero>.button{
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
    height: 25px;
    font-size: small;
    width: 80px;
    justify-content: center;
    margin-bottom: 40px;
    
}

.article-wrapper{
    display: flex;
    background: #5a6888ff;
    opacity: .8;
    width: 40%;
    height: 150px;
    margin: 50px auto;
    color: #e5e7eb;
   
}

.article-wrapper>p, p>img{
    display: relative;
    text-align: center;
}